@font-face {
    font-family: 'Century';
    src: url('/fonts/CenturySchoolbook-Bold-webfont.eot');
    src: url('/fonts/CenturySchoolbook-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CenturySchoolbook-Bold-webfont.woff2') format('woff2'),
         url('/fonts/CenturySchoolbook-Bold-webfont.woff') format('woff'),
         url('/fonts/CenturySchoolbook-Bold-webfont.ttf') format('truetype'),
         url('/fonts/CenturySchoolbook-Bold-webfont.svg#century_schoolbook_fsbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Century';
    src: url('/fonts/CenturySchoolbook-Italic-webfont.eot');
    src: url('/fonts/CenturySchoolbook-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CenturySchoolbook-Italic-webfont.woff2') format('woff2'),
         url('/fonts/CenturySchoolbook-Italic-webfont.woff') format('woff'),
         url('/fonts/CenturySchoolbook-Italic-webfont.ttf') format('truetype'),
         url('/fonts/CenturySchoolbook-Italic-webfont.svg#century_schoolbook_fsitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Century';
    src: url('/fonts/CenturySchoolbook-Regular-webfont.eot');
    src: url('/fonts/CenturySchoolbook-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CenturySchoolbook-Regular-webfont.woff2') format('woff2'),
         url('/fonts/CenturySchoolbook-Regular-webfont.woff') format('woff'),
         url('/fonts/CenturySchoolbook-Regular-webfont.ttf') format('truetype'),
         url('/fonts/CenturySchoolbook-Regular-webfont.svg#century_school_fsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Harman Simple';
    src: url('/fonts/Harman-Simple-webfont.eot');
    src: url('/fonts/Harman-Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Harman-Simple-webfont.woff2') format('woff2'),
         url('/fonts/Harman-Simple-webfont.woff') format('woff'),
         url('/fonts/Harman-Simple-webfont.ttf') format('truetype'),
         url('/fonts/Harman-Simple-webfont.svg#harmansimple') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Harman Sans';
    src: url('/fonts/Harman-Sans-webfont.eot');
    src: url('/fonts/Harman-Sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Harman-Sans-webfont.woff2') format('woff2'),
         url('/fonts/Harman-Sans-webfont.woff') format('woff'),
         url('/fonts/Harman-Sans-webfont.ttf') format('truetype'),
         url('/fonts/Harman-Sans-webfont.svg#harmansans') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 17px;
  line-height: 1.6em;

  font-family: 'Century';
  color: #182C61;

  background-color: #FFFFF;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  min-width: 320px;

  position: relative;
  z-index: 1;
}

a:link {
  color: #182C61;
  text-decoration: none;
}
a:visited {
  color: #407FC7;
}
a:hover,
a:visited:hover {
  color: #76AEED;
  border-bottom: 1px solid #76AEED;
}
a:active,
a:visited:active {
  color: #5995DA;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.page {
  background-color: #FFFFFF;
  /* lines btw parts */
  position: relative;
  z-index: -100;  
}

.page-header{
	 background-color: #D3E4E0;

}

.nav {
  font-size: 20px;
  line-height: 26px;
  font-family: 'Harman Sans';
  color: #182C61;
  background-color: #FFFFFF;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
  
  width: 100%;
  height: 40px;
  padding: 0 13px;

  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__pos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---- header ---- */

.head__title {
  font-family: 'Harman Simple';
  font-weight: normal;
  font-size: 37px;
  line-height: 40px;
  text-transform: lowercase;
}

.head__title--success {
  color: #5995DA;
}

.heading__title--error {
  color: #D55C5F;
}

.heading__parenthesis {
  font-family: 'Harman Simple';
  font-weight: normal;
}

.heading__parenthesis-rule {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading__rule-after {
  border-top: 1px solid #959BA0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  top: 10px;
  margin-left: 12px;
}

.heading__rule-before {
  border-top: 1px solid #959BA0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  top: 10px;
  margin-right: 12px;
}

.heading__subtitle {
  font-family: 'Century';
  font-style: italic;
  font-size: 14px;
  line-height: 22px;
}

/* ---- end heading ---- */


/* ---- subheading ---- */

.subheading {
  text-align: center;
}

.subheading__heading {
  font-family: 'Harman Simple';
  font-size: 31px;
  line-height: 41px;
  text-transform: lowercase;
  display: inline;
}

.subheading__heading span {
  background-color: #FFFFFF;

  box-shadow: 11px 0 0 #FFFFFF, -13px 0 0 #FFFFFF;

}

.subheading__heading:after {
  content: '';
  border-top: 1px solid #959BA0;
  height: 1px;
  width: 100%;
  display: block;
  position: relative;
  top: -21px;
  z-index: -1;
}

.subheading__desktop-title-br {
  display: none;
}

/* ---- end subheading ---- */

/* ---- intro ---- */
.intro {
  font-family: 'Century';
  font-style: italic;
  font-size: 20px;
  line-height: 35px;
    margin: 50px 600px 50px;
   background-color: #D3E4E0;
}

.text {
  font-family: 'Century';
  
  font-size: 20px;
  line-height: 35px;
  margin: 0px 150px 200px;
 
}

/* ---- end intro ---- */

/* ---- main content ---- */


.graph_container {
  font-family: 'Harman Simple';
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-transform: lowercase;
}

.content {
  border-bottom: 1px solid #EAEDF0;
}

.content--open {
  border-bottom: none;
}

.content__wrapper {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
}


.content__wrapper > *,
.content__between > * {
  margin-bottom: 26px;
}

.content__wrapper > .content__subsubheading {
  margin-top: 48px;
  margin-bottom: 2px;
}

.content__wrapper > .content__subsubsubheading {
  margin-top: 48px;
  margin-bottom: 2px;
}

.content__wrapper > *:last-child,
.content__between > *:last-child {
  margin-bottom: 0;
}

.content__between > ol,
.content__wrapper > ol,
.content__between > ul,
.content__wrapper > ul {
  margin-left: 1.3em;
}

.content__between > .diagram,
.content__wrapper > .diagram,
.content__between > figure,
.content__wrapper > figure,
.content__between > video,
.content__wrapper > video {

  width: 100%;
}

/* ---- end main content ---- */

/* ---- sidebox ---- */

.sidebox {
  font-family: 'Harman Simple';
  color: #FFFFFF;
  font-size: 25px;
 
  line-height: 40px;
  text-transform: lowercase;

  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 28px;

  border-left: 1px solid #182C61;
}

.sidebox__list {
  list-style-type: none;
}

.sidebox__link:link,
.sidebox__link:visited,
.sidebox__link:hover,
.sidebox__link:visited:hover {
  color: #182C61;
}

.sidebox__link:hover,
.sidebox__link:visited:hover {
  border-bottom: 1px solid #182C61;
}

.sidebox__link--highlight:link,
.sidebox__link--highlight:visited,
.sidebox__link--highlight:hover,
.sidebox__link--highlight:visited:hover {
  color: #182C61;
}

.sidebox__link--highlight:hover,
.sidebox__link--highlight:visited:hover {
  border-bottom: 1px solid #182C61;
}


.chapter-sidebox {
  display: none;

  position: absolute;
  right: 28px;
  /* below .page-header */
  top: 365px;
}


.chapter-sidebox--sticky {
  position: fixed;
  right: 28px;
  top: 42px;
}


/* ---- end sidebox ---- */

@media only screen and (min-width: 100px) {
    .content_intro {
        font-size: 24px;

        text-align: center;
    }
}

@media only screen and (min-width: 750px) {
	body {
		font-size: 18px;
		line-height: 28px;
	}
	.head__title {
		font-size:px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 12px;
	}
	.heading__title--advanced-positioning {
		font-size: 51px;
	}
	.heading__parenthesis {
		font-size: 24px;
		margin-bottom: 10px;
		text-align: center;
	}
	.heading__rule-after {
		top: 12px;
	}
	.heading__rule-before {
		top: 12px;
	}
	.heading__subtitle {
		font-size: 18px;
		line-height: 28px;
		text-align: center;
	}
	.subheading__heading {
		font-size: 32px;
		line-height: 42px;
		padding-top: 118px;
		/* Trick anchor links into top margin */
	}
	.subheading__heading:after {
		left: -18px;
		padding-right: 36px;
	}
	.subsubheading__heading {
		font-size: 24px;
		line-height: 28px;
	}
	.subsubsubheading__heading {
		font-size: 18px;
		line-height: 28px;
	}
	.page-header {
		padding-top: 114px;
		padding-bottom: 112px;
	}
	.page-header__wrapper {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.home-page-header {
		padding-top: 92px;
		padding-bottom: 98px;
	}
	.home-page-header__logo {
		width: 163px;
		height: 128px;
		margin-bottom: 58px;
	}
	.home-page-header__heading {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 42px;
	}
	.tutorial-icon__title {
		font-size: 24px;
	}
	.content__intro {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.content__wrapper {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.content__wrapper > *,
.content__between > * {
		margin-bottom: 28px;
	}
	.content__wrapper > .content__subsubheading {
		margin-top: 60px;
		margin-bottom: 2px;
	}
	.content__wrapper > .content__subsubsubheading {
		margin-top: 48px;
		margin-bottom: 2px;
	}
	.content__cta-button {
		margin-top: 8px;
	}
	.content__between > .subheading,
.content__wrapper > .subheading {
		margin-bottom: 18px;
	}
	.content__wrapper > table th {
		font-size: 18px;
	}
	.content__wrapper > table td,
.content__wrapper > table th {
		font-size: 17px;
		line-height: 1.6em;
		padding: 5px 50px 5px 0;
	}
	.header {
		padding: 118px 0 108px 0;
		text-align: center;
	}
	.header--home-page {
		padding-top: 72px;
		padding-bottom: 50px;
	}
	.header__wrapper {
		max-width: 600px;
		margin: 0 auto;
	}
	.header__title {
		font-size: 57px;
		margin-bottom: 32px;
	}
	.header__parenthesis {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.header__rule-after {
		top: 12px;
	}
	.header__rule-before {
		top: 12px;
	}
	.header__subtitle {
		font-size: 18px;
	}
	.chapters--html-and-css .chapter__wrapper {
		/* To align with the page title */
		position: relative;
		left: 12px;
	}
	
}

@media only screen and (min-width: 1200px) and (min-height: 450px) {
	.chapter-sidebox {
		display: block;
	}
}


.hidden {
    display: none;
}

.province {
    stroke: black;
    stroke-width: 0.2;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

table {
    text-align: center;
}